h1:hover {
    color:red;
}

 .header{
border: 2px solid yellow;
display: inline-block;
font-family: "Bebas Neue";
 }
 nav{
    max-width: 600px;
    
 }
 nav ul {
    list-style-type: none; /* removes bullets */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* space between items */
    background-color:darkviolet
  }
  
  nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer{
    clear:both;
position: sticky;
  }
  .video{
    position:absolute;
    top: 0;
    right: 0;
  }